<!-- setup basic html template with metadata etc: -->
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Updates & Changelog | JSCammie.com</title>
    <meta name="description" content="Stay updated with the latest changes, improvements, and new features added to JSCammie.com's AI image generator and website.">
    <meta name="keywords" content="jscammie changelog, website updates, new features, ai generator updates, improvements, version history">
    <meta name="author" content="JSCammie">
    
    <!-- Canonical URL -->
    <link rel="canonical" href="https://jscammie.com/changelog">
    
    <link rel='stylesheet' href='/style.css'/>

    <%- include('../partials/_headerAll') %>
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-K3KJJKS1R4"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-K3KJJKS1R4');
    </script>

    <!-- discord web embed:  -->
    <meta property="og:title" content="Website Updates & Changelog | JSCammie.com" />
    <meta property="og:description" content="Stay updated with the latest changes, improvements, and new features added to JSCammie.com's AI image generator and website." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://jscammie.com/changelog" />
    <meta property="og:site_name" content="JSCammie.com" />
    
    <!-- Twitter Card meta tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Website Updates & Changelog | JSCammie.com">
    <meta name="twitter:description" content="Stay updated with the latest changes, improvements, and new features added to JSCammie.com's AI image generator and website.">

</head>
<body>

    <!-- get partials/_navigation: -->
    <%- include('../partials/_navigation') %>

    <style>
        .screenLine {
            width: 100%;
            height: 4px;
            background-color: #ffffff;
            margin: 10px 0px;
            border-radius: 10px;
        }
    </style>

    <div class="center-fully-no-flex" style="margin-bottom: 1rem;">
        <%- include('../partials/_bannerAdvert') %>
    </div>

    <div class="round-frosted page-content mw50-dynamic" style="padding: 40px; justify-content: center;">
        <h1>JSCammie Changelogs</h1>
        <ul>
            <% changelogs.forEach(function(changelog) { %>
                <div class="screenLine"></div>
                <%- changelog %>
            <% }); %>
        </ul>

    </div>

    <!-- get partials/_footer: -->
    <%- include('../partials/_footer') %>
    
</body>
</html>