<!-- setup basic html template with metadata etc: -->
<html>
<head>
    <title><%=profileProfile.username%> | JSCammie.com</title>
    <link rel='stylesheet' href='/style.css'/>
    
    <%- include('../partials/_headerAll') %>
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-K3KJJKS1R4"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());


    gtag('config', 'G-K3KJJKS1R4');
    </script>

    <!-- load booruStyle.css -->
    <link rel='stylesheet' href='/booruStyle.css'/>
    
</head>
<body>

    <!-- get partials/_navigation: -->
    <%- include('../partials/_navigation') %>

    <div class="center-fully-no-flex" style="margin-bottom: 1rem;">
        <%- include('../partials/_bannerAdvert') %>
    </div>

    <div class="round-frosted page-content mw75-content" style="padding: 40px; justify-content: center;">
    
    <script>
        var masterBooruData = {}

        var profileProfile = {
            accountId: `<%= profileProfile.accountId %>`,
            username: `<%= profileProfile.username %>`,
            profileImg: `<%= profileProfile.profileImg || "https://www.jscammie.com/noimagefound.png" %>`,
            userBio: `<%= profileProfile.settings?.user_bio || "TEST BIO" %>`,
            }

        var userProfile = {
            accountId: `<%= userProfile?.accountId %>`,
            }

        <% userBooru.forEach(image => { %>
            masterBooruData[`<%=image.booru_id%>`] = {
                booru_id: `<%=image.booru_id%>`,
                account_id: `<%=image.account_id%>`,
                image_id: `<%=image.image_id%>`,
                prompt: `<%=image.prompt%>`,
                negative_prompt: `<%=image.negative_prompt%>`,
                model: `<%=image.model%>`,
                aspect_ratio: `<%=image.aspect_ratio%>`,
                loras: `<%=image.loras%>`,
                lora_strengths: `<%=image.lora_strengths%>`,
                steps: `<%=image.steps%>`,
                cfg: `<%=image.cfg%>`,
                seed: `<%=image.seed%>`,
                content_url: `<%=image.content_url%>`,
                thumbnailMade: Boolean(<%=image.thumbnailMade%>),
                timestamp: `<%=image.timestamp%>`,
                safety: `<%=image.safety%>`,
                upvotes: <%- JSON.stringify(image.upvotes) %>,
                downvotes: <%- JSON.stringify(image.downvotes) %>,
            }
        <% }) %>

        // reverse the order of the booru posts
        masterBooruData = Object.fromEntries(Object.entries(masterBooruData).reverse())

    </script>

        <div class="searchDiv">
            <div id="searchResultsDiv"></div>
            <input id="searchInput" type="text" placeholder="Search..." style="width: 100%; padding: 10px; border-radius: 10px; margin-bottom: 20px;" />
            <br>
            <select id="searchSorting">
                <option value="trending">🔥 Trending</option>
                <option value="votes">⬆️ Votes</option>
                <option value="recent">⏱️ Recent</option>
            </select>
            <br>
            <div id="safetyCheckboxes">
                <!-- the user may not have a profile to check against: -->
                <% if (userProfile?.badges?.moderator) { %>
                    <label for="naCheckbox">N/A</label>
                    <input type="checkbox" id="naCheckbox" name="naCheckbox" value="na">
                    <label for="sfwCheckbox">SFW</label>
                    <input type="checkbox" id="sfwCheckbox" name="sfwCheckbox" value="sfw">
                    <br>
                    <label for="suggestiveCheckbox">Suggestive</label>
                    <input type="checkbox" id="suggestiveCheckbox" name="suggestiveCheckbox" value="suggestive">
                    <label for="nsfwCheckbox">NSFW</label>
                    <input type="checkbox" id="nsfwCheckbox" name="nsfwCheckbox" value="nsfw">
                    <label for="extremeCheckbox">EXTREME</label>
                    <input type="checkbox" id="extremeCheckbox" name="extremeCheckbox" value="extreme">
                <% } else { %>
                    <!-- na hidden -->
                    <input type="hidden" id="naCheckbox" name="naCheckbox" value="na">
                    <label for="sfwCheckbox">SFW</label>
                    <input type="checkbox" id="sfwCheckbox" name="sfwCheckbox" value="sfw">
                    <br>
                    <label for="suggestiveCheckbox">Suggestive</label>
                    <input type="checkbox" id="suggestiveCheckbox" name="suggestiveCheckbox" value="suggestive">
                    <label for="nsfwCheckbox">NSFW</label>
                    <input type="checkbox" id="nsfwCheckbox" name="nsfwCheckbox" value="nsfw">
                    <label for="extremeCheckbox">EXTREME</label>
                    <input type="checkbox" id="extremeCheckbox" name="extremeCheckbox" value="extreme">
                <% } %>
            </div>
            <br>
            <button id="searchButton" style="padding: 10px; border-radius: 10px; margin-bottom: 20px;">Search</button>
        </div>

        <script>
            <%- booruSearchScript %>

            booruSearchInitialize()
        </script>

        <div id="profileProfileDiv"></div>
        <div id="profileBooruDiv"></div>

    </div>

    <style>
        .profileProfileTop {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
        }

        .profileProfileInfo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    </style>

    <script>
    
        let profileProfileDiv = document.getElementById('profileProfileDiv')

        let profileProfileHTML = `
        <div class="profileProfileTop">
            <div>
                <img class="profileImage" src="${profileProfile.profileImg}" alt="Profile Image">
            </div>
            <div class="profileProfileInfo">
                <h1>${profileProfile.username}</h1>
                <p>${profileProfile.userBio}</p>
            </div>
            ${userProfile.accountId === profileProfile.accountId ? `<a href="/settings">Edit Profile</a>` : ""}
        </div>
        <div id="booruPosts" class="booruPostsGrid"></div>
        `

        // set the profileBooruDiv to be profileBooruDiv
        profileProfileDiv.innerHTML = profileProfileHTML

        let booruPostsDiv = document.getElementById('booruPosts')

        booruPostsDivHTML = ""

        for (const [key, value] of Object.entries(masterBooruData)) {
            let newContentUrl = ""

            if (value.thumbnailMade) {
                newContentUrl = value.content_url.split(".png")[0] + "-thumb.png"
            } else {
                newContentUrl = value.content_url
            }

            let booruThumbnailHTML = `
                <img src="${newContentUrl}" alt="Booru Image" style="max-width: 100%;" loading="lazy"/>
            `

            let postDiv = `
                <div class="booruPost">
                    <h3>${profileProfile.username} | ${value.safety.toUpperCase()}</h3>
                    <a href="/booru/post/${value.booru_id}">
                        ${booruThumbnailHTML}
                    </a>
                    <div class="votesDiv">
                        <button id="upvoteButton${value.booru_id}" onclick="votePost('upvote', '${value.booru_id}')">${value.upvotes.length} ⬆️</button>
                        <button id="downvoteButton${value.booru_id}" onclick="votePost('downvote', '${value.booru_id}')">${value.downvotes.length} ⬇️</button>
                    </div>
                </div>
            `
            
            booruPostsDivHTML += postDiv
        }



        booruPostsDiv.innerHTML = booruPostsDivHTML

    
    </script>

    <!-- get partials/_footer: -->
    <%- include('../partials/_footer') %>
    
</body>
</html>