<!-- setup basic html template with metadata etc: -->
<html>
<head>
    <!-- use metadata from booruImage to fill title and tags etc etc: -->
    <title><%=booruImage.safety.toUpperCase()%> | <%= booruImage.prompt %> | JSCammie.com</title>
    <meta name="description" content="<%= booruImage.prompt %>"/>
    <meta name="keywords" content="<%= booruImage.prompt %>"/>
    <meta name="author" content="JSCammie"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- embed the image: -->
    <!-- <meta content="Embed Title" property="og:title" />
    <meta content="Site Description" property="og:description" />
    <meta content="https://embed.com/this-is-the-site-url" property="og:url" />
    <meta content="https://embed.com/embedimage.png" property="og:image" />
    <meta content="#43B581" data-react-helmet="true" name="theme-color" /> -->

    <meta property="og:title" content="<%= postProfile.username %> | <%= booruImage.model %> | JSCammie.com" />
    <meta property="og:image" content="<%= booruImage.content_url %>" />
    <meta property="og:url" content="https://jscammie.com/booru/post/<%= booruImage.booru_id %>" />
    <meta content="#43B581" data-react-helmet="true" name="theme-color" />
    <meta name="twitter:card" content="summary_large_image">



    <link rel='stylesheet' href='/style.css'/>
    
    <%- include('../../partials/_headerAll') %>
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-K3KJJKS1R4"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-K3KJJKS1R4');
    </script>

    <!-- load booruStyle.css -->
    <link rel='stylesheet' href='/booruStyle.css'/>
    
</head>
<body>

    <!-- get partials/_navigation: -->
    <%- include('../../partials/_navigation') %>

    <div class="center-fully-no-flex" style="margin-bottom: 1rem;">
        <%- include('../../partials/_bannerAdvert') %>
    </div>

    <div class="round-frosted page-content" style="padding: 40px; justify-content: center;">

        <script>

            let booruImage = {}
            booruImage.booru_id = `<%= booruImage.booru_id %>`
            booruImage.account_id = `<%= booruImage.account_id %>`
            booruImage.prompt = `<%= booruImage.prompt %>`
            booruImage.negative_prompt = `<%= booruImage.negative_prompt %>`
            booruImage.model = `<%= booruImage.model %>`
            booruImage.aspect_ratio = `<%= booruImage.aspect_ratio %>`
            booruImage.loras = `<%= booruImage.loras %>`
            booruImage.lora_strengths = `<%= booruImage.lora_strengths %>`
            booruImage.steps = `<%= booruImage.steps %>`
            booruImage.cfg = `<%= booruImage.cfg %>`
            booruImage.seed = `<%= booruImage.seed %>`
            booruImage.content_url = `<%= booruImage.content_url %>`
            booruImage.timestamp = `<%= booruImage.timestamp %>`
            booruImage.safety = `<%= booruImage.safety %>`
            booruImage.upvotes = <%- JSON.stringify(booruImage.upvotes) %>
            booruImage.downvotes = <%- JSON.stringify(booruImage.downvotes) %>

            function exportAIData() {

                // get the imageData from the masterImageData object:
                const imageData = booruImage

                // Get the AI data from the form
                let aiData = {
                    prompt: imageData.prompt,
                    negativeprompt: imageData.negative_prompt,
                    aspectRatio: imageData.aspect_ratio,
                    model: imageData.model,
                    loras: imageData.loras,
                    lora_strengths: imageData.lora_strengths,
                    steps: imageData.steps,
                    quantity: 2,
                    cfg: imageData.cfg,
                    seed: imageData.seed,
                }

                // save it to a file and download it without jsyaml:
                let yamlString = `${aiData.prompt}<SPLIT>${aiData.negativeprompt}<SPLIT>${aiData.aspectRatio}<SPLIT>${aiData.model}<SPLIT>${aiData.loras}<SPLIT>${aiData.lora_strengths}<SPLIT>${aiData.steps}<SPLIT>${aiData.quantity}<SPLIT>${aiData.cfg}<SPLIT>${aiData.seed}`

                let blob = new Blob([yamlString], {type: 'text/yaml'});
                let url = URL.createObjectURL(blob);
                let a = document.createElement('a');
                a.href = url;
                a.download = `${aiData.model}.aidata`;
                document.body.appendChild(a);
                a.click();
                window.URL.revokeObjectURL(url);
                document.body.removeChild(a);
            }

            var postProfile = {
                accountId: `<%= postProfile.accountId %>`,
                username: `<%= postProfile.username %>`,
                profileImg: `<%= postProfile.profileImg || "http://www.jscammie.com/noimagefound.png" %>`,
                userBio: `<%= postProfile.userBio || "TEST BIO" %>`,
                ratings: `<%= postProfile.ratings %>`,
            }
                

            var userProfile = {
                accountId: '<%=userProfile?.accountId? userProfile.accountId : ''%>',
                badges: {
                    owner: <%=userProfile?.badges?.owner? userProfile.badges.owner : false%>,
                    moderator: <%=userProfile?.badges?.moderator? userProfile.badges.moderator : false%>
                }
            }

            function deletePost() {
                if (confirm("Are you sure you want to delete this post?")) {
                    window.location.href = `/booru/delete/${booruImage.booru_id}`
                }
            }

            window.onload = () => {
                postDiv = document.getElementById("postDiv")

                postAccountIdButtons = ""
                moderatorButtons=""

                if (userProfile.accountId == booruImage.account_id) {
                    // show delete button for post owner and moderators:
                    postAccountIdButtons = `
                        <button id="deletePost" onclick="deletePost()">Delete</button>
                    `
                } else if (userProfile.badges.moderator) {
                    // show delete button for post owner and moderators:
                    moderatorButtons = `
                        <button id="deletePost" onclick="deletePost()">Delete</button>
                    `
                }

                postDiv.innerHTML = `
                    <a href="/profile/${booruImage.account_id}">
                        <div id="postProfileDiv" class="postProfile">
                            <img src="${postProfile.profileImg}" alt="Profile Image" class="postProfileImage"/>
                            <h1>${postProfile.ratings} ${postProfile.username}'s Post</h1>
                        </div>
                    </a>
                                     
                    <img class="postImage" src="${booruImage.content_url}" alt="Booru Image" style="max-width: 100%;"/>
                    <div class="postButtons" id="postButtons">
                        <button id="upvoteButton${booruImage.booru_id}" onclick="votePost('upvote', '${booruImage.booru_id}')">${booruImage.upvotes.length} ⬆️</button>
                        <button id="downvoteButton${booruImage.booru_id}" onclick="votePost('downvote', '${booruImage.booru_id}')">${booruImage.downvotes.length} ⬇️</button>
                        ${moderatorButtons}
                        ${postAccountIdButtons}
                        <button onclick="exportAIData()">Export to .AIDATA</button>
                    </div>

                    <details>

                    <summary>Post Details (Click to Expand)</summary>
                        <p>Prompt: ${booruImage.prompt}</p>
                        <p>Negative Prompt: ${booruImage.negative_prompt}</p>
                        <p>Model: ${booruImage.model}</p>
                        <p>Aspect Ratio: ${booruImage.aspect_ratio}</p>
                        <p>LoRAs: ${booruImage.loras}</p>
                        <p>LoRA Strengths: ${booruImage.lora_strengths}</p>
                        <p>Steps: ${booruImage.steps}</p>
                        <p>CFG: ${booruImage.cfg}</p>
                        <p>Seed: ${booruImage.seed}</p>
                        <p>Timestamp: ${booruImage.timestamp}</p>
                        <p>Safety: ${booruImage.safety}</p>
                    </details>
                `

                loadComments()

            }

        </script>

        <style>
            .commentDiv {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;
                padding: 10px;
                background-color: rgba(0, 0, 0, 0.2);
                border-radius: 5px;
                }

                .commentInfo {
                display: flex;
                align-items: center;
                text-decoration: none;
                color: #333;
                margin-bottom: 5px;
                }

                .commentProfileImage {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 10px;
                }

                .commentInfo h1 {
                font-size: 16px;
                margin: 0;
                font-weight: 600;
                }

                .commentContent {
                font-size: 17px;
                color: #ffffff;
                margin: 5px 0;
                }

                .timestamp {
                font-size: 12px;
                color: #888;
                margin-top: 5px;
                }

                .commentButtons {
                    display: flex;
                }

        </style>

        <div class="searchDiv">
            <div id="searchResultsDiv"></div>
            <input id="searchInput" type="text" placeholder="Search..." style="width: 100%; padding: 10px; border-radius: 10px; margin-bottom: 20px;" />
            <br>
            <select id="searchSorting">
                <option value="trending">🔥 Trending</option>
                <option value="votes">⬆️ Votes</option>
                <option value="recent">⏱️ Recent</option>
            </select>
            <br>
            <div id="safetyCheckboxes">
                <!-- the user may not have a profile to check against: -->
                <% if (userProfile?.badges?.moderator) { %>
                    <label for="naCheckbox">N/A</label>
                    <input type="checkbox" id="naCheckbox" name="naCheckbox" value="na">
                    <label for="sfwCheckbox">SFW</label>
                    <input type="checkbox" id="sfwCheckbox" name="sfwCheckbox" value="sfw">
                    <br>
                    <label for="suggestiveCheckbox">Suggestive</label>
                    <input type="checkbox" id="suggestiveCheckbox" name="suggestiveCheckbox" value="suggestive">
                    <label for="nsfwCheckbox">NSFW</label>
                    <input type="checkbox" id="nsfwCheckbox" name="nsfwCheckbox" value="nsfw">
                    <label for="extremeCheckbox">EXTREME</label>
                    <input type="checkbox" id="extremeCheckbox" name="extremeCheckbox" value="extreme">
                <% } else { %>
                    <!-- na hidden -->
                    <input type="hidden" id="naCheckbox" name="naCheckbox" value="na">
                    <label for="sfwCheckbox">SFW</label>
                    <input type="checkbox" id="sfwCheckbox" name="sfwCheckbox" value="sfw">
                    <br>
                    <label for="suggestiveCheckbox">Suggestive</label>
                    <input type="checkbox" id="suggestiveCheckbox" name="suggestiveCheckbox" value="suggestive">
                    <label for="nsfwCheckbox">NSFW</label>
                    <input type="checkbox" id="nsfwCheckbox" name="nsfwCheckbox" value="nsfw">
                    <label for="extremeCheckbox">EXTREME</label>
                    <input type="checkbox" id="extremeCheckbox" name="extremeCheckbox" value="extreme">
                <% } %>
            </div>

            <button id="searchButton" style="padding: 10px; border-radius: 10px; margin-bottom: 20px;">Search</button>

            <script>
                <%- booruSearchScript %>

                booruSearchInitialize()
            </script>
        </div>

        <div id="postDiv"></div>
        <!-- <div id="subbmitComment">
            <input id="commentInput" type="text" placeholder="Comment..." style="width: 100%; padding: 10px; border-radius: 10px; margin-bottom: 20px;" />
            <button id="commentButton" style="padding: 10px; border-radius: 10px; margin-bottom: 20px;">Comment</button>
        </div> -->
        <% if (session.loggedIn) { %>
            <div id="subbmitComment">
                <input id="commentInput" type="text" placeholder="Comment..." style="width: 100%; padding: 10px; border-radius: 10px; margin-bottom: 20px;" />
                <button id="commentButton" style="padding: 10px; border-radius: 10px; margin-bottom: 20px;">Post Comment</button>
            </div>
        <% } %>
        <button id="commentsLoadButton">Click to Load Comments</button>
        <div id="commentsDiv"></div>


        <script>
            // load the comments from post req to booru/comments/:booru_id
            let commentsDiv = document.getElementById("commentsDiv")
            let commentsLoadButton = document.getElementById("commentsLoadButton")
            
            async function loadComments() {
                fetch(`/booru/comment/get/${booruImage.booru_id}`)
                .then(res => res.json())
                .then(data => {
                    if (data.status == "success" && data.comments.length != 0) {
                        commentsLoadButton.style.display = "none"
                    } else if (data.status == "error") {
                        commentsDiv.innerHTML = `<p>${data.message}</p>`
                        return
                    } else {
                        commentsDiv.innerHTML = `<p>No Comments to show!</p>`
                        return
                    }

                    commentsDiv.innerHTML = ""
                    data.comments.forEach(comment => {

                        let commentButtons = ""

                        

                        if (userProfile.accountId == comment.accountId) {
                            // show delete button for post owner and moderators:
                            commentButtons = `
                                <button onclick="deleteComment('${comment.commentId}')">Delete</button>
                                <button onclick="voteComment('upvote', '${comment.commentId}')">${comment.upvotes}⬆️</button>
                                <button onclick="voteComment('downvote', '${comment.commentId}')">${comment.downvotes}⬇️</button>
                            `
                        } else if (userProfile.badges.moderator) {
                            // show delete button for post owner and moderators:
                            commentButtons = `
                                ${comment.commentId}
                                <button onclick="deleteComment('${comment.commentId}')">Delete</button>
                            `
                        } else {
                            commentButtons = `
                                <button onclick="voteComment('upvote', '${comment.commentId}')">${comment.upvotes}⬆️</button>
                                <button onclick="voteComment('downvote', '${comment.commentId}')">${comment.downvotes}⬇️</button>
                            `
                        }

                        commentsDiv.innerHTML += `
                            <div id="commentId-${comment.commentId}" class="commentDiv">
                                <a href="/profile/${comment.accountId}" class="commentInfo">
                                <img src="${comment.profileImg}" alt="Profile Image" class="commentProfileImage"/>
                                <h1>${comment.username}</h1>
                                </a>
                                <p class="commentContent">${comment.comment}</p>
                                <span class="timestamp">${new Date(Number(comment.timestamp)).toLocaleTimeString()} ${new Date(Number(comment.timestamp)).toLocaleDateString()}</span>
                                <div class="commentButtons">${commentButtons}</div>
                            </div>
                        `;

                    })
                })
            }

            commentsLoadButton.onclick = () => {
                loadComments()
            }

            // delete comment function:
            async function deleteComment(commentId) {
                if (confirm("Are you sure you want to delete this comment?")) {
                    fetch(`/booru/comment/delete/${commentId}`)
                    .then(res => res.json())
                    .then(data => {
                        if (data.status == "success") {
                            loadComments()
                        } else {
                            alert(data.message)
                        }
                    })
                }
            }

            // post vote function:
            async function voteComment(vote, commentId) {
                fetch(`/booru/comment/vote/`, {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        vote: vote,
                        commentId: commentId
                    })
                })
                .then(res => res.json())
                .then(data => {
                    if (data.status == "success") {
                        loadComments()
                    } else {
                        alert(data.message)
                    }
                })
            }

            // post comment function:
            let commentButton = document.getElementById("commentButton")
            let commentInput = document.getElementById("commentInput")

            commentButton.onclick = () => {
                if (commentInput.value.length < 1) {
                    alert("Comment must be at least 1 character long")
                    return
                }

                fetch(`/booru/comment/post/${booruImage.booru_id}`, {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        comment: commentInput.value
                    })
                })
                .then(res => res.json())
                .then(data => {
                    if (data.status == "success") {
                        commentInput.value = ""
                        loadComments()
                    } else {
                        alert(data.message)
                    }
                })
            }

        </script>

    </div>

    <!-- get partials/_footer: -->
    <%- include('../../partials/_footer') %>
    
</body>
</html>