<!-- setup basic html template with metadata etc: -->
<html>
<head>
    <title>Suggestions | JSCammie.com</title>
    <link rel='stylesheet' href='/style.css'/>
    
    <meta name="description" content="Suggest features or loras to be added to the site!">
    <meta name="keywords" content="loras, features, jscammie suggestions, suggestion, upvote, downvote">
    <meta name="author" content="JSCammie">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-K3KJJKS1R4"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-K3KJJKS1R4');
    </script>
    
</head>
<body>

    <!-- get partials/_navigation: -->
    <%- include('../../partials/_navigation') %>

    <div class="center-fully-no-flex" style="margin-bottom: 3rem;">
        <%- include('../../partials/_bannerAdvert') %>
    </div>

    <style>
        .suggestionTopBar {
            display: inline;
            justify-content: space-between;
            font-size: 24px;
        }

        .votingButton {
            /* remove border, background colour */
            background-color: rgba(0, 0, 0, 0) !important;
            /* make the cursor a pointer */
            cursor: pointer;
        }

        .suggestionDiv {
            border: 3px solid rgb(255, 150, 253);
            padding: 10px;
            margin: 10px;
            border-radius: 10px;
        }
    </style>

    <div class="container round-frosted page-content mw75-dynamic" style="margin-bottom: 12rem; padding: 24px">
        <a class="submitSuggestionHyperlink" href="/submit-suggestion">Submit a Suggestion</a>
        <h1 style="text-align: center;">Suggestions</h1>


        <style>
            .pendingSuggestion p {
                color: yellow;
            }
            .pendingSuggestion div {
                background-color: rgba(255, 255, 0, 0.5) !important;
            }

            .addedSuggestion p {
                color: rgb(119, 200, 255);
            }
            .addedSuggestion div {
                background-color: rgba(119, 200, 255, 0.5) !important;
            }

            .rejectedSuggestion p {
                color: red;
            }
            .rejectedSuggestion div {
                background-color: rgba(255, 0, 0, 0.5) !important;
            }

            /* .promotedSuggestion have a glowing border to the div: */

        </style>

        <script>
            // manually animate the .promotedSuggestion class divs:

            function animatePromoted() {
                const promotedSuggestions = document.querySelectorAll('.promotedSuggestion');
                    promotedSuggestions.forEach(suggestion => {
                        suggestion.animate([
                        { border: '3px solid rgb(0, 0, 0)', boxShadow: '0 0 20px rgb(0,0,0)', offset: 0 },    // start
                        { border: '3px solid rgb(100, 255, 100)', boxShadow: '0 0 20px rgb(100, 255, 100)', offset: 0.3 }, 
                        { border: '3px solid rgb(100, 100, 255)', boxShadow: '0 0 30px rgb(100, 100, 255)', offset: 0.7 }, 
                        { border: '3px solid rgb(0, 0, 0)', boxShadow: '0 0 20px rgb(0,0,0)', offset: 1 }    // Back to start
                    ], {
                        duration: 2000, // Total animation duration (in milliseconds)
                        iterations: Infinity // Infinite loop
                    });
                });
            }

            function stopAnimatePromoted() {
                const promotedSuggestions = document.querySelectorAll('.promotedSuggestion');
                promotedSuggestions.forEach(suggestion => {
                    suggestion.style.border = '3px solid rgb(255, 150, 253)';
                    suggestion.style.boxShadow = 'none';
                    suggestion.style.color = 'black';
                });
            }

        </script>

        <script>
            var masterSuggestionData = {}

            <% suggestions.forEach(suggestion => { %>
                masterSuggestionData[<%=suggestion.suggestionId%>] = {
                    suggestionId: <%=suggestion.suggestionId%>,
                    safety: '<%=suggestion.safety%>',
                    type: '<%=suggestion.type%>',
                    title: `<%=suggestion.title%>`,
                    upvotes: [<%=suggestion.upvotes%>],
                    downvotes: [<%=suggestion.downvotes%>],
                    text: `<%=suggestion.text%>`,
                    accountId: `<%=suggestion.accountId%>`,
                    status: `<%=suggestion.status%>`,
                    promoted: <%=suggestion.promoted? suggestion.promoted : false%>
                }
            <% }) %>

            var userProfile = {
                accountId: '<%=userProfile.accountId? userProfile.accountId : ''%>',
                badges: {
                    owner: <%=userProfile.badges?.owner? userProfile.badges.owner : false%>
                }
            }



        </script>

        <div id="suggestionsFilters">
            <select id="suggestionsTypeSearch">
                <option value="all">All</option>
                <option value="lora">Lora</option>
                <option value="feature">Feature</option>
                <option value="bug">Bug</option>
            </select>
            <br>
            <select id="suggestionsSafetySearch">
                <option value="sfw">SFW</option>
                <option value="nsfw">NSFW</option>
                <option value="all">All</option>
            </select>
            <br>
            <select id="suggestionsStatusSearch">
                <option value="pending">Pending</option>
                <option value="added">Added</option>
                <option value="rejected">Rejected</option>
            </select>
            <br>
            <select id="suggestionsSortOrder">
                <option value="newest">Newest</option>
                <option value="oldest">Oldest</option>
                <option value="votesAggregated">Votes</option>
            </select>
            <br>
            <!-- search box -->
            <input type="text" id="suggestionsSearch" placeholder="Search for a suggestion...">
        </div>

        <div id="suggestionsContainer">
        </div>
    </div>

    <script>
        // make any links in the text clickable:
        document.querySelectorAll('a').forEach(a => {
            a.innerHTML = a.innerHTML.replace(/(https?:\/\/[^\s]+)/g, '<a href="$1" target="_blank">$1</a>');
        });
    </script>

    <script>
        // search logic:
        function searchSuggestions() {
            const type = document.getElementById('suggestionsTypeSearch').value;
            const safety = document.getElementById('suggestionsSafetySearch').value;
            const status = document.getElementById('suggestionsStatusSearch').value;
            const sortOrder = document.getElementById('suggestionsSortOrder').value;
            const search = document.getElementById('suggestionsSearch').value;

            let suggestions = Object.values(masterSuggestionData);

            // Filter based on the selected filters
            if (type !== 'all') {
                suggestions = suggestions.filter(suggestion => suggestion.type === type);
            }

            if (safety !== 'all') {
                suggestions = suggestions.filter(suggestion => suggestion.safety === safety);
            }

            if (status !== 'all') {
                suggestions = suggestions.filter(suggestion => suggestion.status.toLowerCase() === status);
            }

            if (search) {
                suggestions = suggestions.filter(suggestion => suggestion.title.toLowerCase().includes(search.toLowerCase()) || suggestion.text.toLowerCase().includes(search.toLowerCase()));
            }

            // Sort based on the selected sort order
            if (sortOrder === 'newest') {
                suggestions.sort((a, b) => b.suggestionId - a.suggestionId);
            } else if (sortOrder === 'oldest') {
                suggestions.sort((a, b) => a.suggestionId - b.suggestionId);
            } else if (sortOrder === 'votesAggregated') {
                suggestions.sort((a, b) => {
                    const votesA = a.upvotes.length - a.downvotes.length;
                    const votesB = b.upvotes.length - b.downvotes.length;
                    return votesB - votesA;
                });
            }

            // sort the suggestions by promoted status, making sure the previously sorted suggestions are still in order:
            suggestions.sort((a, b) => {
                if (a.promoted && !b.promoted) {
                    return -1;
                } else if (!a.promoted && b.promoted) {
                    return 1;
                } else {
                    return 0;
                }
            });

            // console.log(suggestions); // Check the filtered and sorted suggestions
            // console.log(userProfile); // Check the userProfile object
            // console.log(masterSuggestionData)

            // update the suggestions container:
            const suggestionsContainer = document.getElementById('suggestionsContainer');
            suggestionsContainer.innerHTML = '';
            suggestions.forEach(suggestion => {
                const suggestionDiv = document.createElement('div');
                if (suggestion.promoted && suggestion.status.toLowerCase() === 'pending') {
                    suggestionDiv.classList.add('suggestionDiv', 'promotedSuggestion');
                } else {
                    suggestionDiv.classList.add('suggestionDiv', `${suggestion.status}Suggestion`);
                }

                suggestionDiv.innerHTML = `
                    <span hidden id="suggestionId">${suggestion.suggestionId}</span>
                    <p id="${suggestion.suggestionId}-safety">${suggestion.safety === 'nsfw' ? 'NSFW' : 'SFW'} ${suggestion.promoted ? '<a style="color: gold;">⭐Promoted</a>' : ''}</p>
                    <a class="suggestionTopBar">${suggestion.type === 'lora' ? '💜Lora' : suggestion.type === 'feature' ? '💚Feature' : '❤️Bug'} | ${suggestion.title} | </a>
                    <a class="suggestionTopBar">
                        <button class="votingButton" id="upvote">Upvotes: ${suggestion.upvotes.length}</button>
                        <button class="votingButton" id="downvote">Downvotes: ${suggestion.downvotes.length}</button>
                    </a><br>
                    <a>${suggestion.text}</a>
                    <br>
                    <a>
                        ${userProfile.accountId === suggestion.accountId || userProfile.badges?.owner ? '<button id="removeSuggestion">Remove</button>' : ''}
                        ${userProfile.badges?.owner ? '<button id="addSuggestion">Add</button>' : ''}
                        ${userProfile.badges?.owner ? '<button id="rejectSuggestion">Reject</button>' : ''}
                        ${userProfile.accountId === suggestion.accountId || userProfile.badges?.owner ? '<button id="toggleSuggestionSafety">NSFW/SFW</button>' : ''}
                        ${userProfile.accountId && suggestion.status.toLowerCase() === 'pending' && !suggestion.promoted ? '<button id="promoteSuggestion">Promote (Costs 750 Credits)</button>' : ''}
                    </a>
                    <p id="${suggestion.suggestionId}-response"></p>
                `;
                suggestionsContainer.appendChild(suggestionDiv);
            });


            // make any links in the text clickable:
            document.querySelectorAll('a').forEach(a => {
                a.innerHTML = a.innerHTML.replace(/(https?:\/\/[^\s]+)/g, '<a href="$1" target="_blank">$1</a>');
            });

            // apply the voting logic to the new suggestions:
            document.querySelectorAll('.votingButton').forEach(button => {
                button.addEventListener('click', async (e) => {
                    const suggestionId = e.target.parentElement.parentElement.querySelector('#suggestionId').innerText;
                    const vote = e.target.id;

                    // set request body:
                    let requestBody = {
                        suggestionId: suggestionId,
                        vote: vote
                    };

                    // console.log(requestBody);
                    // send the vote to the server:

                    const response = await fetch(`/vote-suggestion`, {
                        method: 'POST',
                        body: JSON.stringify(requestBody),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    });
                    const data = await response.json();
                    console.log(data);

                    // update the upvotes and downvotes on the page for the suggestion:
                    masterSuggestionData[suggestionId].upvotes = data.votes.upvotes
                    masterSuggestionData[suggestionId].downvotes = data.votes.downvotes

                    searchSuggestions();
                });
            });

            // apply the remove suggestion logic to the new suggestions:
            document.querySelectorAll('#removeSuggestion').forEach(button => {
                button.addEventListener('click', async (e) => {
                    const suggestionId = e.target.parentElement.parentElement.querySelector('#suggestionId').innerText;

                    // set request body:
                    let requestBody = {
                        suggestionId: suggestionId
                    };

                    // send the remove request to the server:
                    const response = await fetch(`/remove-suggestion`, {
                        method: 'POST',
                        body: JSON.stringify(requestBody),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    });
                    const data = await response.json();
                    // console.log(data);

                    // remove the suggestion from the page:
                    masterSuggestionData[suggestionId] = undefined;
                    searchSuggestions();
                });
            });

            // apply the add suggestion logic to the new suggestions:
            document.querySelectorAll('#addSuggestion').forEach(button => {
                button.addEventListener('click', async (e) => {
                    const suggestionId = e.target.parentElement.parentElement.querySelector('#suggestionId').innerText;

                    // set request body:
                    let requestBody = {
                        suggestionId: suggestionId,
                        status: 'added'
                    };

                    // send the update request to the server:
                    const response = await fetch(`/update-suggestion-status`, {
                        method: 'POST',
                        body: JSON.stringify(requestBody),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    });
                    const data = await response.json();
                    // console.log(data);

                    masterSuggestionData[suggestionId].status = 'added';
                    
                    searchSuggestions();
                });
            });

            // promoteSuggestion logic:
            document.querySelectorAll('#promoteSuggestion').forEach(button => {
                button.addEventListener('click', async (e) => {
                    const suggestionId = e.target.parentElement.parentElement.querySelector('#suggestionId').innerText;

                    // set request body:
                    let requestBody = {
                        suggestionId: suggestionId,
                        accountId: userProfile.accountId
                    };

                    // send the promote request to the server:
                    const response = await fetch(`/promote-suggestion`, {
                        method: 'POST',
                        body: JSON.stringify(requestBody),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    });
                    const data = await response.json();
                    // console.log(data);

                    if (masterSuggestionData[suggestionId].promoted) {
                        responseElement = document.getElementById(`${suggestionId}-response`);
                        responseElement.innerText = data.message;
                    } else {
                        masterSuggestionData[suggestionId].promoted = true;
                        searchSuggestions();
                    }
                });
            });

            document.querySelectorAll('#toggleSuggestionSafety').forEach(button => {
                button.addEventListener('click', async (e) => {
                    const suggestionId = e.target.parentElement.parentElement.querySelector('#suggestionId').innerText;

                    // set request body:
                    let requestBody = {
                        suggestionId: suggestionId,
                        accountId: userProfile.accountId
                    };

                    // send the update request to the server:
                    const response = await fetch(`/toggle-suggestion-safety`, {
                        method: 'POST',
                        body: JSON.stringify(requestBody),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    });
                    const data = await response.json();
                    // console.log(data);
                    safetyCurrent = masterSuggestionData[suggestionId].safety;
                    masterSuggestionData[suggestionId].safety = safetyCurrent === 'sfw' ? 'nsfw' : 'sfw';
                    searchSuggestions();
                });
            });

            // apply the reject suggestion logic to the new suggestions:
            document.querySelectorAll('#rejectSuggestion').forEach(button => {
                button.addEventListener('click', async (e) => {
                    const suggestionId = e.target.parentElement.parentElement.querySelector('#suggestionId').innerText;

                    // set request body:
                    let requestBody = {
                        suggestionId: suggestionId,
                        status: 'rejected'
                    };

                    // send the update request to the server:
                    const response = await fetch(`/update-suggestion-status`, {
                        method: 'POST',
                        body: JSON.stringify(requestBody),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    });
                    const data = await response.json();
                    // console.log(data);

                    masterSuggestionData[suggestionId].status = 'rejected';
                    searchSuggestions();
                });
            });
            stopAnimatePromoted();
            animatePromoted();
        };

        window.onload = function() {
            document.getElementById('suggestionsTypeSearch').addEventListener('change', searchSuggestions);
            document.getElementById('suggestionsSafetySearch').addEventListener('change', searchSuggestions);
            document.getElementById('suggestionsStatusSearch').addEventListener('change', searchSuggestions);
            document.getElementById('suggestionsSortOrder').addEventListener('change', searchSuggestions);
            document.getElementById('suggestionsSearch').addEventListener('input', searchSuggestions);
            searchSuggestions();
        }

    </script>

    <!-- get partials/_footer: -->
    <%- include('../../partials/_footer') %>
    
</body>
</html>